*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}  
body{
    background-image: linear-gradient(rgb(153, 205, 169,0.7),rgb(65, 100, 74,0.9)),url("background.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    object-fit: cover;
}  
.container{
    width: 100%;
    min-height:100vh;
    padding: 5%;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
}

div{
    flex-direction: column;
}

.search-bar{
    width: 100%;
    margin-left: 220px;
    max-width: 700px;
    background:rgba(255, 255, 255, 0.486);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;    
}


.search-bar button img{
    width: 25px;
}

.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: #A4907C ;
}

#search-results{
    padding-top: 70px;
    margin-left: 220px;
    text-align: center;
    font-size: 60px;
    color: #fff;
    max-width: 700px;
}